* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 15px;
    background-color: #5f5f5f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #000000bf;
        border-radius: 5px;
    }
}

.guess {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 400px;
    width: 100%;
    p {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        input {
            width: 75%;
        }
    }
}

#info {
    display: none;

    &.show {
        display: flex;
    }
}

@keyframes showInfo {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
#info {
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    min-width: 300px;
    animation: showInfo 1s forwards;
}
#info article {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #000000bf;
    align-items: center;
    gap: 5px;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        p {
            width: fit-content;
            margin: 5px;
            background-color: #000;
            padding: 5px 10px;
            border: 1px solid #fff;
        }
        p::after {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    
    img {
        background-color: #fff;
        padding: 15px;
    }

    div p, img {
        cursor: crosshair;
        transition: .15s ease-in-out;
        &:hover {
            scale: 1.1;
        }
    }
}

img {
    max-width: 400px;
}

button, input {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #fff;
    background-color: #000000bf;
    color: #fff;
}

button {
    cursor: pointer;
    transition: .15s ease-in-out;
    &:not(:disabled):hover {
        background-color: #000;
        scale: 1.05;
    }
    &:not(:disabled):active {
        background-color: #000;
        scale: 1.02;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

input:disabled {
    border-color: #0f0;
    background-color: #00ff0042;
}